<div class="container imagendefondo">
	<div class="row centrado">
		<div class="col">
			<h1 class="tit">REGISTRO</h1>
		</div>	
	</div>
	<br/><br/>
	<div class="row centrado ">
		<div class="col-md">
			<div class="list">
  				<label class="item item-input">
    				<span class="input-label on">Correo</span>
    				<input type="email" ng-model="usuario.Correo">
  				</label>
  				<label class="item item-input">
  					<span class="input-label on">Contraseña</span>
    				<input type="password" ng-model="usuario.Contra">
  				</label>
  			</div>
		</div>
	</div>
	<br/>
	<div class="row centrado">
		<div class="col-md centrado">
			<button class="button reg" ng-click="obtener(usuario)">
			Inicio
			</button>
		</div>
		
	</div>
</div>


